<div class="card">
  <div class="card-header">
    <div class="d-flex flex-wrap">
      <%= link_to :admin_cards, class: 'unstyled mr-auto pt-1' do %>
        <h5 class="mb-2 mb-md-0">Manage Cards</h5>
      <% end %>
      <%= search_form_for(@q, url: admin_cards_path, class: 'form form-inline') do |f| %>
        <%= f.search_field "name_#{I18n.locale}_cont", placeholder: 'Name', size: 30,
          class: 'form-control form-control-sm mr-2' %>
        <%= f.submit 'Search', class: 'btn btn-secondary btn-sm mt-2 mt-md-0' %>
      <% end %>
    </div>
  </div>
  <div class="card-body card-table">
    <table class="table table-striped table-sm">
      <tr>
        <th></th> <!-- Image -->
        <th>Name</th>
        <th>Source</th>
        <th>Patch</th>
        <th></th> <!-- Actions -->
      </tr>
      <% @cards.each do |card| %>
        <tr>
          <td><%= small_image(card) %></td>
          <td><%= card.name %></td>
          <td>
            <ul class="list-unstyled mb-0">
              <% sources(card).each do |source| %>
                <li><%= source %></li>
              <% end %>
            </ul>
          </td>
          <td><%= card.patch %></td>
          <td class="text-center">
            <%= link_to fa_icon('pencil', class: 'btn btn-dark btn-sm'), edit_admin_card_path(card) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-center mb-0">
    <%= will_paginate(@cards) %>
  </div>
</div>
