<% cards.each do |card| %>
  <tr class="card-row<%= ' has-card' if local_assigns[:user_cards]&.include?(card.id) %>">
    <td <%= 'class="owned"'.html_safe if local_assigns[:owned_cards]&.include?(card.id) %>>
      <%= link_to(card_path(card)) do %>
        <%= small_image(card) %>
      <% end %>
    </td>
    <td <%= 'class="hide-xs"'.html_safe unless local_assigns[:skip_source] %>>
      <%= link_to(card.name, card_path(card), class: 'name') %>
    </td>
    <td><%= type_image(card) %></td>
    <td><%= stars(card) %></td>
    <td>
      <div class="d-flex flex-column align-items-center stats">
        <div class="d-flex justify-content-center">
          <span><%= stat(card, :top) %></span>
        </div>
        <div class="d-flex justify-content-around">
          <span><%= stat(card, :left) %></span>
          <span><%= stat(card, :right) %></span>
        </div>
        <div class="d-flex justify-content-center">
          <span><%= stat(card, :bottom) %></span>
        </div>
      </div>
    </td>
    <% unless local_assigns[:skip_source] %>
      <td class="hide-xs">
        <ul class="list-unstyled mb-0">
          <% sources(card).each do |source| %>
            <li><%= source %></li>
          <% end %>
        </ul>
      </td>
    <% end %>
    <% if local_assigns[:ownership] %>
      <td class="hide-xs text-right"><%= ownership.fetch(card.id, '0%') %></td>
    <% end %>
    <% unless local_assigns[:skip_source] %>
      <td class="text-right"><%= card.patch %></td>
    <% end %>
    <% if local_assigns[:user_cards] %>
      <td class="text-center pr-0">
        <% if user_cards.include?(card.id) %>
          <input type="checkbox" class="card-toggle" data-path="<%= card_remove_path(card) %>" checked>
        <% else %>
          <input type="checkbox" class="card-toggle" data-path="<%= card_add_path(card) %>">
        <% end %>
      </td>
    <% end %>
    <% if local_assigns[:deck] %>
      <td class="text-center">
        <%= button_tag(class: 'btn btn-secondary btn-sm deck-toggle',
                       disabled: deck.size >= 5 && !deck.include?(card.id),
                       data: { card_id: card.id, action: deck.include?(card.id) ? 'remove' : 'add' }) do %>
          <% if deck.include?(card.id) %>
            <%= fa_icon('minus', text: 'Remove') %>
          <% else %>
            <%= fa_icon('plus', text: 'Add') %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
