<% cards.each do |card| %>
  <tr <%= 'class="has-card"'.html_safe if local_assigns[:user_cards] && user_cards.include?(card.id) %>>
    <td>
      <%= link_to(card_path(card)) do %>
        <%= small_image(card) %>
      <% end %>
    </td>
    <td><%= link_to(card.name, card_path(card), class: 'name') %></td>
    <td><%= type_image(card) %></td>
    <td><%= stars(card) %></td>
    <td>
      <div class="d-flex flex-column stats">
        <div class="d-flex justify-content-center">
          <span><%= stat(card, :top) %></span>
        </div>
        <div class="d-flex justify-content-around">
          <span><%= stat(card, :left) %></span>
          <span><%= stat(card, :right) %></span>
        </div>
        <div class="d-flex justify-content-center">
          <span><%= stat(card, :bottom) %></span>
        </div>
      </div>
    </td>
    <% unless local_assigns[:skip_source] %>
      <td>
        <ul class="list-unstyled mb-0">
          <% sources(card).each do |source| %>
            <li><%= source %></li>
          <% end %>
        </ul>
      </td>
    <% end %>
    <% if local_assigns[:user_cards] %>
      <td class="text-center">
        <% if user_cards.include?(card.id) %>
          <input type="checkbox" class="card-toggle" data-path="<%= user_card_remove_path(current_user, card) %>" checked>
        <% else %>
          <input type="checkbox" class="card-toggle" data-path="<%= user_card_add_path(current_user, card) %>">
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
