<div class="row">
  <div class="col-12 text-center">
    <%= render 'form', url: cards_path %>
  </div>
</div>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5">
  <thead>
    <tr>
      <th scope="col"></th> <!-- Image -->
      <th scope="col"><%= sort_link(@q, :name) %></th>
      <th scope="col"><%= sort_link(@q, :type_id, 'Type') %></th>
      <th scope="col"><%= sort_link(@q, :stars, 'Rarity') %></th>
      <th scope="col" class="text-center">Stats</th>
      <th scope="col">Source</th>
      <th scope="col" class="text-right"><%= sort_link(@q, :patch, [:patch, :id]) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'table_data', cards: @cards %>
  </tbody>
</table>
