<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<div class="row">
  <div class="col-12 mb-1 d-flex justify-content-between align-items-end">
    <%= link_to 'Select Your Cards', select_cards_path,
      class: "btn btn-secondary btn-sm#{' btn-attention' if @user_cards.empty?}" %>
    <div class="hide-toggle">
      <label for="toggle-owned" class="mb-0 mr-1">Hide Owned</label>
      <input type="checkbox" id="toggle-owned" />
    </div>
  </div>
</div>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5" id="my-cards">
  <thead>
    <tr>
      <th scope="col"></th> <!-- Image -->
      <th scope="col"><%= sort_link(@q, :name) %></th>
      <th scope="col"><%= sort_link(@q, :type_id, 'Type') %></th>
      <th scope="col"><%= sort_link(@q, :stars, 'Rarity') %></th>
      <th scope="col" class="text-center">Stats</th>
      <th scope="col">Source</th>
      <th scope="col" class="text-right"><%= sort_link(@q, :patch, [:patch, :id]) %></th>
      <th scope="col" class="text-center pr-0">Own</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'table_data', cards: @cards, user_cards: @user_cards %>
  </tbody>
</table>
