<div class="d-flex align-items-end">
  <%= form_tag(npcs_path, method: :get, enforce_utf8: false, class: 'form form-inline search-form', id: 'npc-search') do %>
    <%= select_tag :location, options_for_select(NPC.locations.keys, @location),
      include_blank: 'All Locations', class: 'form-control form-control-sm mr-3' %>
  <% end %>
  <% if user_signed_in? %>
    <div class="d-flex align-items-center ml-auto">
      <label for="toggle-completed" class="mb-0 mr-1">Hide Completed</label>
      <input type="checkbox" id="toggle-completed" />
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <div class="progress mt-2">
    <div class="progress-bar" role="progressbar" style="width: <%= @completion %>%;"
      aria-valuenow="<%= @count %>" aria-valuemin="0" aria-valuemax="<%= @total %>">
        <b class="px-2"><%= @count %>/<%= @total %> (<%= @completion.to_i %>%)</b>
    </div>
  </div>
<% end %>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5" id="npcs">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :name) %></th>
      <th scope="col"><%= sort_link(@q, :location) %></th>
      <th scope="col">Rules</th>
      <th scope="col">Quest</th>
      <th scope="col">Rewards</th>
      <th scope="col" class="text-right"><%= sort_link(@q, :patch, [:patch, :id]) %></th>
    </tr>
  </thead>
  <tbody>
    <% @npcs.each do |npc| %>
      <tr <%= 'class="completed"'.html_safe unless @incomplete.include?(npc.id) %>>
        <td><%= link_to(npc.name, npc_path(npc), class: 'name') %></td>
        <td><%= location(npc) %></td>
        <td><%= npc.rules %></td>
        <td><%= quest(npc) %></td>
        <td>
          <div class="d-flex card-list">
            <% npc.rewards.each do |card| %>
              <div data-toggle="tooltip" data-placement="top" title="<%= card.name %>"
                <%= 'class="owned"'.html_safe if @user_cards.include?(card.id) %>>
                <%= small_image(card) %>
              </div>
            <% end %>
          </div>
        </td>
        <td class="text-right"><%= npc.patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>
