<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<div class="row">
  <div class="col-12 col-md-6 mb-2 mb-md-0 d-flex justify-content-center justify-content-md-start">
    <%= form_tag(npcs_path, method: :get, enforce_utf8: false, class: 'form form-inline search-form', id: 'npc-search') do %>
      <%= select_tag :location, options_for_select(NPC.locations.keys, @location),
        include_blank: 'All Locations', class: 'form-control form-control-sm mr-3' %>
    <% end %>
    <%= link_to 'Update Defeated', update_defeated_npcs_path, method: :post, class: 'btn btn-sm btn-secondary',
      data: { confirm: 'All NPCs with exclusive cards you have obtained will be marked as defeated.' } %>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
    <% if user_signed_in? %>
      <div class="">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="display" id="show-all" checked />
          <label class="form-check-label" for="show-all">Show All</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="display" id="hide-completed" />
          <label class="form-check-label" for="hide-completed">Missing Rewards</label>
        </div>
        <div class="form-check form-check-inline mr-0">
          <input class="form-check-input" type="radio" name="display" id="hide-defeated" />
          <label class="form-check-label" for="hide-defeated">Undefeated</label>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <div class="progress mt-2">
    <div class="progress-bar" role="progressbar" style="width: <%= @completion %>%;"
      aria-valuenow="<%= @count %>" aria-valuemin="0" aria-valuemax="<%= @total %>">
        <b class="px-2"><%= @count %>/<%= @total %> (<%= @completion.to_i %>%)</b>
    </div>
  </div>
<% end %>
<table class="table table-striped table-sm shadow p-3 mt-2 mb-5" id="npcs">
  <thead>
    <tr>
      <th scope="col" class="npc-name"><%= sort_link(@q, :name) %></th>
      <th scope="col"><%= sort_link(@q, :location) %></th>
      <th scope="col" class="hide-xs">Rules</th>
      <th scope="col" class="hide-xs quest-name">Quest</th>
      <th scope="col">Rewards</th>
      <th scope="col" class="hide-xs text-right"><%= sort_link(@q, :patch, [:patch, :id]) %></th>
      <% if user_signed_in? %>
        <th scope="col" class="text-center px-1">Won</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @npcs.each do |npc| %>
      <tr class="npc-row<%= ' completed' if @completed.include?(npc.id) %><%= ' defeated' if @defeated.include?(npc.id) %>">
        <td class="npc-name"><%= link_to(npc.name, npc_path(npc), class: 'name') %></td>
        <td><%= location(npc) %></td>
        <td class="hide-xs"><%= npc.rules %></td>
        <td class="hide-xs quest-name"><%= quest(npc) %></td>
        <td>
          <div class="d-flex flex-wrap card-list">
            <% npc.rewards.each do |card| %>
              <%= link_to card_path(card), class: 'my-1' do %>
                <div data-toggle="tooltip" data-placement="top" title="<%= card.name %>"
                  <%= 'class="owned"'.html_safe if @user_cards.include?(card.id) %>>
                  <%= small_image(card) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </td>
        <td class="hide-xs text-right"><%= npc.patch %></td>
        <% if user_signed_in? %>
          <td class="text-center px-1">
            <% if @defeated.include?(npc.id) %>
              <input type="checkbox" class="npc-toggle" data-path="<%= npc_remove_path(npc) %>" checked>
            <% else %>
              <input type="checkbox" class="npc-toggle" data-path="<%= npc_add_path(npc) %>">
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
