<div class="row">
  <div class="col-12 col-sm-5 col-md-4 offset-0 offset-md-1">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= @npc.name %></h5>
      </div>
      <div class="card-body">
        <dl>
          <dt>Location</dt>
          <dd><%= location(@npc, inline: true) %></dd>
          <dt>Patch</dt>
          <dd><%= @npc.patch %></dd>
          <% if @npc.rules.present? %>
            <dt>Rules</dt>
            <dd><%= @npc.rules %></dd>
          <% end %>
          <% if @npc.quest.present? %>
            <dt>Required Quest</dt>
            <dd><%= quest(@npc) %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-7 col-md-6">
    <div class="card">
      <div class="card-header">
        <h6><%= 'Reward'.pluralize(@rewards.length) %></h6>
      </div>
      <div class="card-body pt-0">
        <div class="d-flex flex-wrap card-list-lg">
          <%= render partial: 'cards/large', collection: @rewards, as: :card %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="card">
      <div class="card-header">
        <h6>Deck
          <span data-toggle="tooltip" data-html="true"
                                      title="Cards on the left are always used.<br>Cards on the right are chosen at random.">
            <%= fa_icon('question-circle') if @npc.variable_cards.present? %>
          </span>
      </div>
      <div class="card-body pl-0">
        <div class="d-flex">
          <div class="d-flex <%= @npc.variable_cards.present? ? 'w-50' : 'w-100' %> flex-wrap
            align-self-start card-list-lg pl-3">
            <%= render partial: 'cards/large', collection: @npc.fixed_cards, as: :card, deck: true %>
          </div>
          <% if @npc.variable_cards.present? %>
            <div class="d-flex w-50 flex-wrap align-self-start card-list-lg variable-cards pl-3">
              <%= render partial: 'cards/large', collection: @npc.variable_cards, as: :card, deck: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
