<div class="navbar navbar-expand navbar-dark mb-4">
  <div class="navbar-nav mr-auto">
    <%= link_to 'Home', root_path, class: 'nav-link' %>
    <%= link_to 'My Cards', '#', class: 'nav-link' %>
    <%= link_to 'All Cards', cards_path, class: 'nav-link' %>
    <%= link_to 'NPCs', '#', class: 'nav-link' %>
    <%= link_to 'Packs', card_packs_path, class: 'nav-link' %>
  </div>
</div>
