<div class="navbar navbar-expand navbar-dark mb-2">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag('logo.png') %>
  <% end %>
  <div class="navbar-nav mr-auto">
    <%= nav_link('My Cards', my_cards_path) %>
    <%= nav_link('All Cards', cards_path) %>
    <%= nav_link('NPCs', npcs_path) %>
    <%= nav_link('Packs', packs_path) %>
    <%= link_to("Play Guide #{fa_icon('external-link')}".html_safe,
                'https://na.finalfantasyxiv.com/lodestone/playguide/contentsguide/goldsaucer/tripletriad',
                target: '_blank', class: 'nav-link') %>
  </div>
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle p-0 pr-1" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <%= image_tag(current_user.avatar_url, class: 'avatar mr-2') %>
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <% if current_user.admin? %>
            <%= link_to fa_icon('user', text: 'Manage Users'), admin_users_path, class: 'dropdown-item' %>
            <%= link_to fa_icon('file', text: 'Manage Cards'), admin_cards_path, class: 'dropdown-item' %>
            <%= link_to fa_icon('address-book', text: 'Manage NPCs'), admin_npcs_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
          <% end %>
          <%= link_to fa_icon('wrench', text: 'Settings'), user_settings_path, class: 'dropdown-item' %>
          <%= link_to fa_icon('sign-out', text: 'Sign Out'), destroy_user_session_path, class: 'dropdown-item' %>
        </div>
      </div>
    <% else %>
      <%= link_to 'Sign in with Discord', user_discord_omniauth_authorize_path, class: 'btn btn-secondary' %>
    <% end %>
</div>
