<!DOCTYPE html>
<html>
  <head>
    <title>Another Triple Triad Tracker</title>
    <meta name="description" content="Another website for tracking your Final Fantasy XIV Triple Triad card collection." />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Another Triple Triad Tracker">
    <meta property="og:description" content="Another website for tracking your Final Fantasy XIV Triple Triad card collection." />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109201715-3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109201715-3');
      </script>
    <% end %>
  </head>

  <body>
    <header class="container mb-4">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alerts' %>
    </header>

    <main role="main" class="container<%= ' ja' if I18n.locale == :ja %>">
      <%= yield %>
    </main>

    <footer class="text-center">
      <span>Created by Raelys Skyborn of Behemoth |</span>
      <span>Powered by <%= link_to 'Saint Coinach', 'https://github.com/ufx/SaintCoinach', target: '_blank' %></span>
    </footer>
  </body>
</html>
