<!DOCTYPE html>
<html>
  <head>
    <title>FFXIV Triple Triad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container mb-4">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alerts' %>
    </header>

    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer class="text-center">
      <span>Created by Raelys Skyborn of Behemoth</span>
    </footer>
  </body>
</html>
